body{
	font-family: Arial, Verdana
}
ul{
	list-style-type: none;
}
ul li{
	padding: 5px;
	margin: 5px;
	height:65px;
	border-top:1px solid #ccc;
}
.tweet {
	clear:both;
}
.tweet img{
	float: left;
}
.tweet-text{
	padding: 5px 0;
}
.tweet-detail{
	float: left;
	width:90%;
	padding: 0 5px;
}
.tweet-user{
	padding: 5px 0;
	font-size: 0.8em;
	font-weight: bold;
}
.tweet-date{
	font-size: 0.8em;
	font-weight: bold;
	/*float: right;*/
	color: #999;	

}
.clear{
	clear:both;
}
#tweets-container{
	height: 300px; 
	overflow: auto;
}

#status{
	padding:5px; 
	background-color:#f9edbe;
	border:1px solid #f0c36d;
	text-align: center;
	bottom: 10px;
  right: 10px;
	position: fixed;
  width: 150px;
  vertical-align: middle;
}